@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,900;1,700&display=swap");
.bg-header {
	background-image: linear-gradient(
		to right bottom,
		rgba(2, 2, 2, 0.8) 0%,
		rgba(46, 46, 46, 0.8)
		),
	url(../img/concert.jpg);
	background-size: cover;
	background-position: top;
	height: 100vh;
}

.bg-black {
	background-color: #020202 !important;
}

.costum-modal {
	margin: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
}

.logo {
	height: 70px;
	color: white;
	z-index: 100;
	top: 48px;
}

html {
	font-size: 16px !important;
	background-color: #020202;
}

body {
	color: #fff !important;
	font-family: "Nunito Sans", sans-serif !important;
	height: 100%;
}

a {
	color: #fff !important;
}

a:hover {
	color: #ef233c !important;
}

.bg-red {
	background-color: #ef233c;
}

.header-text {
	margin-top: 8rem;
}

.rotate {
	transform: rotate(-10deg);
}

.jumbotron {
	margin: 0 !important;
	border-radius: 0 !important;
}

.judul {
	top: 40%;
	text-align: right;
	z-index: 2;

}

.abs {
	width: 300px;
	bottom: 5%;
	font-size: 1.25rem;
}

.nav-fixed {
	position: fixed;
}

.description {
	width: 700px;
	font-size: 1.534rem;
}

.slogan {
	display: flex;
	padding: 72px 0;
	align-items: center;
	letter-spacing: 0.3px;
	font-size: 1rem;
	justify-content: space-between;
	max-width: 250px;
	/*min-width: 215px;*/
	z-index: 100;
	text-transform: uppercase;
}

.line-vertical {
	border-left: 2px solid white;
	height: 50px;
	margin-right: 15px;
	margin-left: 15px;
}

.sidebar-outer {
	margin-top: 150px;
	left: 27%;
	top: 137px;
	z-index: 100;
}

.sidebar-outer > .slogan {
	margin-top: 250px;
	position: relative;
	left: 178px;
	bottom: -18px;
}

.wrapper {
	height: auto;
}

.height-100 {
	height: 820px;
}

.height-full {
	height: 100vh;
}

.height-75 {
	height: 615px;
}

.footer {
	padding: 10rem 0;
	font-size: 1rem;
}

/* gallery */

.box {
	z-index: -10000px !important;
}

.box img {
	height: 100%;
	width: auto;
	object-fit: cover;
}

.opacity {
	opacity: 0.5;
	z-index: -1px;
}

.sup {
	top: 2;
	right: 0;
	height: 0.9rem;
	margin-left: .2rem;
}

.sup img {
	height: 0.9rem;
}

/* animation */

@keyframes text-focus-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes swing-in-top-bck {
	0% {
		transform: rotateX(70deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}

.swing-in-top-bck {
	animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*  lanjut lagi */

.btn-circle {
	width: 20px;
	height: 20px;
	padding: 4px 0px !important;
	border-radius: 15px !important;
	text-align: center !important;
	font-size: 10px !important;
	line-height: 1.42857 !important;
	margin:2px;
}
#qty {
	width: 10px;
}
.emblem {
	display: block;
}

.width-50 {
	width: 50%;
}
nav li {
	margin-top: -30px;
}
.big-menu {
	justify-content: flex-end;
	position: absolute;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.5rem;
}
.social-menu {
	text-transform: uppercase;
	justify-content: flex-end;
	font-size: 1rem;
}


/* bicara */
.head-podcast {
	width: 100%;
	padding: 1.2rem;
	border-radius: 5px;
	margin: 0;
}


/* event ticket */
.item-tiket {
	display: flex;
	padding: 8px;
	border: 1px solid white;
	border-radius: 0.25rem;
	min-width: 262px;
}
.item-tiket_event {
	margin-left: 8px;
	vertical-align: center;
}
.item-tiket_button {
	padding: 0.50rem;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
	display: flex;
	background-color: #ef233c;
}

.item-tiket_button span {
	align-self: center;
}
.item-tiket button {
	background-color: #ef233c;
	color: #fff;
	margin-left: 4px;
	border: 0;
}

/* resonsive design */

@media (max-width: 575.98px) {
	.bg-header {
		height: 100vh;
	}
	.width-50 {
		width: 100% !important;
	}
	.logo {
		height: 40px;
	}
	.header-text h1 {
		margin-top: 0rem;
		font-size: 40px !important;
	}
	.nav > h1 {
		font-size: 10px !important;
	}
	.font-blom {
		font-size: 4.7rem !important;
	}
	#emblem {
		visibility: hidden !important;
	}
	.height-100 {
		height: 220px !important;
	}
	.big-menu {
		justify-content: flex-end;
		position: absolute;
		font-size: 1.5rem;
		flex-direction: column;
		width: 92%;
	}
	.big-menu li {
		font-size: 18px;
		text-transform: uppercase;
	}
	.social-menu {
		text-transform: uppercase;
		justify-content: flex-end;
		font-size: 0.7rem;
		min-width: 290px;
		margin-left: -20px;
	}
	#judul {
		position: absolute !important;
		top: 220px;
	}



	/* modal responsive */
	#modal-menu {
		width: 100% !important;
		text-align: right;
		font-size: 18px !important;
		margin-top: 7%;
		padding: 0 !important;
		display: flex;
		flex-direction: column;
	}
	#modal-menu nav {
		display:flex;
	}

	.slogan {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.logo {
		height: 40px;
	}
}

@media (min-width: 992px) {
	html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
	html { font-size: 2rem; }
}
