<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"
      type="image/png"
      href="assets/image/logo-merah.png">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="assets/css/main.css">
      <link rel="stylesheet" href="assets/css/bootstrap.css">
      <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
      <title>Ada Ide</title>
    </head>
    <body>
      <div class="jumbotron bg-header">
        <div class="container-xl">
          <div class="nav navbar">
            <div class="justify-content-start">
              <h4 class="h4"></h4>
            </div>
            <div class="display-4 d-flex justify-content-end ">
              <img src="assets/image/logo-putih.png" class="logo position-fixed" id="logo-image" role="dialog"data-toggle="modal" data-target="#exampleModal">
            </div>
          </div>
          <div class="col-md-12 d-flex align-middle justify-content-center mx-auto my-auto">
            <div class="text-right w-100 header-text">
              <h1 class="display-2 mt-5 font-weight-bold text-uppercase text-focus-in">get your podcast</h1>
            </div>
          </div>
          <div class="container">
            <nav class="navbar navbar-light fixed-bottom mb-5 container-xl">
              <a class="navbar-brand">ADAIDE<sup class="font-weight-bold">TM</sup></a>
              <div class="form-inline">
                <nav class="nav justify-content-end text-uppercase">
                  <a class="nav-link h5" href="#">Youtube
                    <span class="pangkat">
                      <img src="assets/image/logo-putih.png" class="logo" id="logo-image">
                    </span>
                  </a>
                  <a class="nav-link h5" href="#">Instagram
                    <span class="pangkat">
                      <img src="assets/image/logo-putih.png" class="logo" id="logo-image">
                    </span>
                  </a>
                  <a class="nav-link h5" href="#">Behance
                    <span class="pangkat">
                      <img src="assets/image/logo-putih.png" class="logo" id="logo-image">
                    </span>
                  </a>
                </nav>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- MAIN -->
      <div class="bg-black">
        <div class="container-xl">
          <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
            <div class="slogan">
              <span class="logo-text">ADA IDE<sup>TM</sup><br>BICARA</span>
              <span class="line-vertical"></span>
              <span class="logo-text">Bring Your</span>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 height-100 d-flex align-items-center align-text-bottom">
              <div class="w-100">
                <img src="assets/img/podcast.png" class="w-100">
                <p class="lead position-absolute mt-n5">
                  Get Your Podcast Passion On
                </p>
              </div>
            </div>
            <div class="col-md-8 height-100 d-flex align-items-center justify-content-center">
              <div class="d-flex justify-content-end w-50">
                <p class="lead">
                  Creativity doesn't wait for that perfect moment. It fashions its own perfect moments out of ordinary ones.
                </p>
              </div>
            </div>
          </div>
          <!-- section 2 podcast with bg header -->
          <div class="row bg-hader">
            <div class="col-md-4 height-100 d-flex align-items-center align-text-bottom">
              <div class="w-100">
                <img src="assets/img/podcast.png" class="w-100">
                <p class="lead position-absolute mt-n5">
                  Get Your Podcast Passion On
                </p>
              </div>
            </div>
            <div class="col-md-8 height-100 d-flex align-items-center justify-content-center">
              <div class="d-flex justify-content-end w-50">
                <p class="lead">
                  Creativity doesn't wait for that perfect moment. It fashions its own perfect moments out of ordinary ones.
                </p>
              </div>
            </div>
          </div>
          <!-- gallery -->
          
          <!-- sebelum footer -->
          <section class="container-xl">
            <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
              <div class="slogan">
                <span class="logo-text">ADA IDE<sup>TM</sup><br>BICARA</span>
                <span class="line-vertical"></span>
                <span class="logo-text">Bring Your</span>
              </div>
            </div>
          </section>
          <!-- Footer -->
          <section class="container-fluid border-top">
            <div class="footer container-xl">
              <h1 class="h2 text-uppercase font-weight-bold">find us</h1>
              <h2 class="h3 text-uppercase font-weight-bold">ada ide HQ</h2>
              <p class="lead">Layungsari 67B <br>Jalan Lingkar Dadaha<br> Tasikmalaya<br>46124</p>
            </div>
          </section>
        </div>
        <!-- section ke 2 -->
        
        <script src="assets/js/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>
      </body>
    </html>