<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="assets/image/logo-merah.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/grid-gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>Ada Ide</title>
    <style>
        @font-face {
            font-family: blom;
            src: url("assets/font/Gloss_And_Bloom.ttf");
        }
        
        .font-blom {
            font-family: blom;
        }
    </style>
</head>

<body class="bg-black">
    <div class="jumbotron bg-header">
        <div class="container-xl">
            <div class="nav navbar">
                <div class="justify-content-start">
                    <h4 class="h4"></h4>
                </div>
                <div class="display-4 d-flex justify-content-end ">
                    <img src="assets/image/logo-putih.png" class="logo position-fixed" id="logo-image" role="dialog" data-toggle="modal" data-target="#exampleModal">
                </div>
            </div>
            <div class="col-md-5 mx-auto my-auto">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <div class="header text-center">
                            <h1 class=" text-center text-uppercase">
                                Welcome in adaide
                            </h1>
                            <p>Please login to your account.</p>
                        </div>
                        <form class="mt-5">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control form-control-lg bg-transparent text-white" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control form-control-lg text-white bg-transparent" id="exampleInputPassword1">
                            </div>
                            <div class="mx-auto text-center">
                                <button type="submit" class="btn btn-danger text-center w-50 py-2 mt-3">Login</button>
                                <p id="emailHelp" class="form-text text-muted mt-5">New in adaide? please <a href="#">Sign Up</a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-light fixed-bottom mb-5 container-xl">
                    <a class="navbar-brand">ADAIDE<sup class="font-weight-bold">TM</sup></a>
                    <div class="form-inline">
                        <nav class="nav justify-content-end text-uppercase">
                            <a class="nav-link h5" href="#">Youtube
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
                            <a class="nav-link h5" href="#">Instagram
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
                            <a class="nav-link h5" href="#">Behance
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- tutup header -->
    <!-- MAIN -->
    <!-- <div class="container-xl">
        <div class="row">
            <div class="col-md-4 height-100 d-flex align-items-center">
                <p class="lead">
                    Never miss an update on what’s happening at Ada Ide. From our latest project to our newest merch. <span class="font-weight-bold">Subcribe Now!</span>
                </p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-5 height-100 d-flex align-items-center">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control bg-black" placeholder="Enter Your Email Here" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-light text-uppercase" type="button" id="button-addon2">join</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Modal -->
    <script src="assets/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>