<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon"
			type="image/png"
			href="assets/image/logo-merah.png">
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="assets/css/main.css">
			<link rel="stylesheet" href="assets/css/bootstrap.css">
			<link rel="stylesheet" href="assets/css/grid-gallery.css">
			<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
			<title>Ada Ide - Photography</title>
		</head>
		<body>
			<div class="jumbotron bg-header">
				<div class="container-xl">
					<div class="nav navbar">
						<div class="justify-content-start ">
							<h4 class="h4">/KITA BUKAN BAYANGAN</h4>
						</div>
						<div class="display-4 d-flex justify-content-end ">
							<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
						</div>
					</div>
					<div class=" d-flex justify-content-end">
						<div class="header-text align-items-end">
							<h1 class="display-1 mt-5 header-text ">Creative Takes</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 sidebar-outer">
							<div class="position-fixed slogan">
								<a class="nav-link" href="#">ADA IDE<sup>TM</sup></a>
							</div>
						</div>
						<div class="col-4 col-xs-offset-1 sidebar-outer">
							<div class="position-fixed">
								<nav class="nav justify-content-end">
									<a class="nav-link h4" href="#">Youtube
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
									<a class="nav-link h4" href="#">Instagram
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
									<a class="nav-link h4" href="#">Behance
										<span class="pangkat">
											<img src="assets/image/logo-putih.png" class="logo" id="logo-image">
										</span>
									</a>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MAIN -->
			<div class="bg-black">
				<section class="container-xl wrapper">
					<div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
						<div class="slogan">
							<span class="logo-text">ADA IDE<sup>TM</sup><br>BICARA</span>
							<span class="line-vertical"> </span>
							<span class="logo-text">Bring Your</span>
						</div>
					</div>
					<div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
						<div class="mt-auto p-2 bd-highlight">
							<p class="lead w-75 align-items-end float-right m-0">
								Creativity doesn't wait for that perfect moment. It fashions its own perfect moments out of ordinary ones.
							</p>
						</div>
					</div>
				</section>
				<!-- Gallery -->
				<div class="container-fluid bg-black">
					<div class="row h-25 opacity">
						<div class="col-md-4 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/lukis.png">
						</div>
						<div class="col-md-8 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/gitar.png">
						</div>
						<div class="col-md-12 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/tangan.jpg">
						</div>
						<div class="col-md-4 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/gambar.png">
						</div>
						<div class="col-md-8 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/5.jpg">
						</div>
						<div class="col-md-7 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/nyanyi.png">
						</div>
						<div class="col-md-5 item p-2 box">
							<img class="img-fluid image scale-on-hover" src="assets/img/idefest.png">
						</div>
					</div>
				</div>
				<!-- sebelum footer -->
				<section class="container-xl">
					<div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
						<div class="slogan">
							<span class="logo-text">ADA IDE<sup>TM</sup><br>BICARA</span>
							<span class="line-vertical"></span>
							<span class="logo-text">Bring Your</span>
						</div>
					</div>
					<div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
					</div>
				</section>
				<!-- Footer -->
				<section class="container-fluid border-top">
					<div class="footer container-xl">
						<h1 class="display-5 text-uppercase">find us</h1>
						<h2 class="display-5 text-uppercase">ada ide HQ</h2>
						<p>Layungsari 67B <br>Jalan Lingkar Dadaha<br> Tasikmalaya<br>46124</p>
					</div>
				</section>
			</div>
			
			<script src="assets/js/jquery.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
			<script src="assets/js/bootstrap.js"></script>
		</body>
	</html>